<html>
  <head>
    {% include "header.html" %}
    <title>Home</title>
  </head>
  <body>
    <h1>Login</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">
      <table id="formTable"; cellspacing="5px" cellpadding="5%"; align="left">    
        <tr>    
          <td align="right">Email:</td>    
          <td><input type="email" name="email" required></td>    
        </tr>

        <tr>    
          <td align="right">Password:</td>    
          <td><input type="password" name="password" required></td>    
        </tr>

        <tr>    
          <td align="right">CSV:</td>    
          <td><input type="file" name="file" required></td>    
        </tr>

        <tr>    
          <td></td>
          <td><input type="submit" value="Submit"></td>    
        </tr>
    </form>
    {% include "darkmode.html" %}
  </body>
</html>
