<h1>
  Login
</h1>
<form action="/upload" method="POST" enctype="multipart/form-data">
  <table id="formTable"; cellspacing="5px" cellpadding="5%"; align="left">    
    <tr>    
      <td align="right">Email:</td>    
      <td><input type="text" name="email"/></td>    
    </tr>
    <tr>    
      <td align="right">Password:</td>    
      <td><input type="password" name="password"/></td>    
    </tr>
    <tr>    
      <td align="right">CSV:</td>    
      <td><input type="file" name="file"/></td>    
    </tr>
    <tr>    
      <td></td>
      <td><button type="submit">Submit</button></td>    
    </tr>
</form>
